In [2]:
import pandas as pd
from os import walk
import re

In [3]:
g = globals()

In [4]:
def get_paths(root_path):
    paths = []
    for (dirpath, dirnames, filenames) in walk(root_path):
        if "/stock_id" in dirpath:
            paths.append(f"{dirpath}/{filenames[0]}")
    return paths

In [5]:
def read_data(paths):
    d1 = "book_test"
    d2 = "book_train"
    d3 = "trade_test"
    d4 = "trade_train"
    df_names = []
    for path in paths:
        if d1 in path:
            stock_id = re.sub('/[a-z0-9]*','',path[25:38].replace('=','_'))
            df_name = f"{d1}_{stock_id}"
            df_names.append(df_name)
            g[df_name] = pd.read_parquet(path, engine="pyarrow")
        elif d2 in path:
            stock_id = re.sub('/[a-z0-9]*','',path[26:38].replace('=','_'))
            df_name = f"{d2}_{stock_id}"
            df_names.append(df_name)
            g[df_name] = pd.read_parquet(path, engine="pyarrow")
        elif d3 in path:
            stock_id = re.sub('/[a-z0-9]*','',path[26:38].replace('=','_'))
            df_name = f"{d3}_{stock_id}"
            df_names.append(df_name)
            g[df_name] = pd.read_parquet(path, engine="pyarrow")
        elif d4 in path:
            stock_id = re.sub('/[a-z0-9]*','',path[26:40].replace('=','_'))
            df_name = f"{d4}_{stock_id}"
            df_names.append(df_name)
            g[df_name] = pd.read_parquet(path, engine="pyarrow")
    return df_names

In [6]:
def get_data(df_name):
     return g.get(df_name)

In [9]:
paths = get_paths("./data")

In [12]:
data_list = read_data(paths)

In [13]:
get_data(data_list[1])

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001186,1.001581,1.001044,1.001750,100,200,63,100
1,5,2,1.001186,1.001581,1.001016,1.001750,100,100,63,100
2,5,4,1.001186,1.001750,1.001016,1.002032,176,100,63,2
3,5,5,1.001355,1.001750,1.001186,1.001891,100,100,76,63
4,5,6,1.001355,1.001750,1.001186,1.002032,200,100,76,2
...,...,...,...,...,...,...,...,...,...,...
1514768,32767,587,1.000113,1.000373,1.000081,1.000535,125,200,185,80
1514769,32767,590,1.000113,1.000373,1.000081,1.000405,125,100,214,100
1514770,32767,596,1.000146,1.000405,1.000081,1.000535,205,100,314,78
1514771,32767,597,1.000146,1.000502,1.000081,1.000535,205,125,314,78
1514772,32767,599,1.000113,1.000502,1.000081,1.000535,224,125,314,78